/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include "keys_de.h"

#define COMBO_TIMEOUT_MS 100

/ {
    chosen { zmk,physical-layout = &five_col_layout; };
};

/ {
    behaviors {
        homerowMod: homerowMod {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROWMOD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            quick-tap-ms = <300>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Layer3 {
            bindings = <&mo 3>;
            key-positions = <34 39>;
            require-prior-idle-ms = <500>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <36 37>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
        };

        ae {
            bindings = <&kp DE_A_UMLAUT>;
            key-positions = <12 2>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
        };

        ue {
            bindings = <&kp DE_U_UMLAUT>;
            key-positions = <8 2>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
        };

        oe {
            bindings = <&kp DE_O_UMLAUT>;
            key-positions = <10 2>;
            timeout-ms = <COMBO_TIMEOUT_MS>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTZ";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
  &kp DE_Q                   &kp DE_W                   &kp DE_E                     &kp DE_R                &kp DE_T   &none  &none  &kp DE_Z      &kp DE_U                &kp DE_I                      &kp DE_O                   &kp DE_P
  &homerowMod LEFT_GUI DE_A  &homerowMod LEFT_ALT DE_S  &homerowMod LEFT_SHIFT DE_D  &homerowMod LCTRL DE_F  &kp DE_G   &none  &none  &kp DE_H      &homerowMod RCTRL DE_J  &homerowMod RIGHT_SHIFT DE_K  &homerowMod LEFT_ALT DE_L  &homerowMod LEFT_GUI DE_O_UMLAUT
  &kp DE_Y                   &kp DE_X                   &kp DE_C                     &kp DE_V                &kp DE_B                 &kp DE_N      &kp DE_M                &kp DE_COMMA                  &kp DE_PERIOD              &kp DE_MINUS
                                                        &mo 2                        &kp ESCAPE              &kp ENTER                &kp DE_SPACE  &kp BACKSPACE           &mo 1
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
  &kp F1                      &kp F2                       &kp F3                        &kp F4                   &kp F5          &trans  &trans  &kp F8            &kp F9                   &kp F10                       &kp F11                      &kp F12
  &homerowMod LEFT_GUI DE_N1  &homerowMod RIGHT_ALT DE_N2  &homerowMod LEFT_SHIFT DE_N3  &homerowMod LCTRL DE_N4  &kp DE_N5       &trans  &trans  &kp DE_N6         &homerowMod LCTRL DE_N7  &homerowMod LEFT_SHIFT DE_N8  &homerowMod RIGHT_ALT DE_N9  &homerowMod LEFT_GUI DE_N0
  &kp DE_EXCLAMATION          &kp DE_DOUBLE_QUOTES         &kp DE_SECTION                &kp DE_DOLLAR            &kp DE_PERCENT                  &kp DE_AMPERSAND  &kp DE_SLASH             &kp DE_LEFT_PARENTHESIS       &kp DE_RIGHT_PARENTHESIS     &kp DE_EQUAL
                                                           &mo 3                         &trans                   &trans                          &trans            &trans                   &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
  &kp DE_CARET                       &none          &none           &none             &none   &none  &none  &none           &kp HOME                      &kp END                    &kp DE_SHARP_S               &kp DE_ACUTE
  &homerowMod DE_LESS_THAN LEFT_GUI  &kp RIGHT_ALT  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &none   &none  &none  &kp LEFT_ARROW  &homerowMod LCTRL DOWN_ARROW  &homerowMod LEFT_SHIFT UP  &homerowMod RIGHT_ALT RIGHT  &homerowMod LEFT_GUI DE_PLUS
  &none                              &none          &none           &none             &none                 &none           &kp INSERT                    &kp DELETE                 &none                        &kp DE_POUND
                                                    &trans          &trans            &trans                &trans          &trans                        &mo 3
            >;
        };

        Utility {
            display-name = "UTIL";
            bindings = <
  &none        &bl BL_DEC  &bl BL_INC    &bl BL_TOG    &none         &none  &none  &none           &none     &kp C_VOLUME_UP    &none       &kp PRINTSCREEN
  &none        &none       &none         &out OUT_TOG  &none         &none  &none  &kp C_PREVIOUS  &kp C_PP  &kp C_MUTE         &kp C_NEXT  &none
  &bootloader  &bt BT_CLR  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0                &none           &none     &kp C_VOLUME_DOWN  &none       &bootloader
                           &none         &trans        &trans                      &trans          &trans    &none
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };
};
